
body{
    text-align: center;
}
.mainBox{
width: 360px;
    background-color: aqua;
    text-align: center;
    border-radius: 4px;

}
table{
    width: 100%;
    text-align: center;
    
}
h3{

    border-bottom: 2px solid black;
}

/* th{
    border: 2px solid black;
    padding: 4px;

    border-radius: 2px;
} */
.tD{
    
    padding: 3px;
    margin: 2px; 
}